.img-thumb img {
    height: 40px;
    width: 40px;
}
.img-thumb{
    position: relative;
}
.img-thumb .blink-circle{
    height: 60px;
    width: 60px;
    top: -20px;
    left: -10px;
    border: 3px solid var(--danger);
}
.img-thumb .present{border: 3px solid var(--success);}
.img-thumb .absent{border: 3px solid var(--danger);}
.img-thumb .hafday{border: 3px solid var(--info);}
.time-sheet-punchin{
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 0px;
}
.secondary-outline:hover{
  color: #2c4e58 !important;
}
/*Dashboard-pai-chat  https://www.freecodecamp.org/news/css-only-pie-chart/ */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:20;
    --b:22px;
    --c:#264E58;
    --w:150px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }
  /*********************************/
  .icon-info-n{

  }



/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 1366px) {
  .icon-info-text-n{
    padding: 0 0px;
  }
  .sm-btn{
    padding: 7px 10px;
  }
  .welcome-text{
        top: -38px;
	}
	.web-url-section{
		right:50px;bottom:80px;
	}
	h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1600px) {
  .icon-info-text-n{
    padding: 0 10px;
  }
  .sm-btn{
    padding: 5px 8px;
	font-size:10px;
  }
  .welcome-text{
        top: -38px;
	}
	.ad-auth-img{
	  padding: 0 100px;
	}
	.web-url-section{
		right:50px;bottom:90px;
	}
		h4,
.h4 {
    font-size: 14px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .icon-info-text-n{
    padding: 0 0px;
  }
  .sm-btn{
    padding: 5px 8px;
	font-size:10px;
  }
  .welcome-text{
        top: 70px;
	}
	.ad-auth-img{
		padding:20px 43px 25px 150px;
	}
	.web-url-section{
		right:80px;bottom:5px;
	}
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media only screen and (min-width: 1920px) {
    .icon-info-text-n{
      padding: 0 38px;
    }
    .sm-btn{
      padding: 7px 20px;
    }
	.welcome-text{
        top: -38px;
	}
	.ad-auth-img{
	  padding: 0 110px;
	}
	.web-url-section{
		right:50px;bottom:150px;
	}
  }
  

  
  .border-bottom-d{
    border-bottom: 3px solid #427784;
  }
  .secondary-outline {
    color: #a1a1a1 !important;
  }
  .leave-box{
    background-color: #f5f5f5;
    padding-top: 50px;
    text-align: center;
    min-height: 143px;
    margin: 5px 5px 17px 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #b7b4b4;
  }
  .vnr-star{
    background-image: url(../images/star-1.png);
    width: 65px;
    position: absolute;
    float: left;
    height: 80px;
    bottom: 80px;
    margin: 0 auto;
    left: 0;
    right: 0;
	background-size: contain;
	background-repeat: no-repeat;
  }
  .vnr-star span{
    margin-top: 10px;
    position: absolute;
    margin-left: -4px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
  }
  .degination{
    color: #8d8b8b;
    font-size: 10px;
  }
/*login css*/
.login-bg-b{
  
}

.login-bg{
  background-image: url(../images/login-bg-2-.png);
  background-color:rgba(236,253,253,1);
  background-color: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(236,253,253,1) 0%, rgba(255,255,255,1) 100%);
  background-position: 0px -16px;
    background-size: cover;
    background-repeat: no-repeat;
   /* background-image: url(../images/login-bg-1.png);
  background-color:rgba(236,253,253,1);
  background-color: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(236,253,253,1) 0%, rgba(255,255,255,1) 100%);
  background-position: 248px -1px;
    background-size: contain;
    background-repeat: no-repeat;*/
}
.ad-auth-box{
background-color: #e6f9f9;
background-image: url(../images/login-box-bg.png);
background-repeat: no-repeat;
background-size: 43%;
border-radius: 37px;
box-shadow: 0px 1px 10px #a1a0a0;
min-height: 500px;
}

.ad-auth-img img{
  width: 200px;
}
.welcome-text{
  /*writing-mode: vertical-rl;*/
  -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);    
        transform:rotate(-90deg);
        position: absolute;
        left: -20px;
        font-weight: 300;
}
.btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: unset;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 20px;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  box-shadow: none !important;
}
.btn-secondary {
  background-color: var(--secondary) !important;
}
:root {
--secondary: #264e58;
}
.ad-auth-content{
  text-align: center;
}
.login-input{
  border-width: 0px 0px 1px 0px !important;
  border-color: #d7d7d7 !important;
  border-radius: 0 !important;
  background-color: transparent;
}

.ad-other-feilds {
    margin: 5px 0 0px;
  }
  /*************/
.singal-date{
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 6px;}

.leave-availabel{
  color: #837c7c;
    font-size: 11px;
}
:root{
  --primary: #11a1fd;
}
.mfh-machine-profile .nav-tabs .nav-item.show .nav-link, .mfh-machine-profile .nav-tabs .nav-link.active:after{
  background: var(--secondary);
}
.mfh-machine-profile .nav-tabs .nav-item.show .nav-link, .mfh-machine-profile .nav-tabs .nav-link.active{
  color: var(--secondary) !important;
}
.tab-content.ad-content2 {
    margin-top: 3px;
}
.calendar-wrapper{
  box-shadow: 0px 0px 10px #ddd;
  padding: 20px
}
.week {
  margin: 15px 0;
}
.week.highlight{
  padding: 15px 0;
}
.apply-date{
  font-size: 12px;
    color: #8f8d8d;
}
.late-atnd{
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.late-atnd .sm-btn{
  padding: 6px 15px;
}
.late-l1{
  float: left;
  background-color: #f3e5e5;
  border: 1px solid #e5bfbf;
      padding: 3px 5px;
    border-radius: 50%;
    margin-right: 7px;
    font-weight: 600;
    color: #f00;
    margin-top: 2px;
    font-size: 14px;
    width: 32px;
  text-align: center;
}
.emp-profile-sec{
  position: relative;
  height: 150px;
}
.profile-pic{
  border-radius: 50%;
    border: 3px solid #4ba185;
    width: 140px;
    height: 140px;
    float: left;
    position: absolute;
    top: 0px;
    left: 50px;
}
.emp-name-profile{
float: left;
margin-left: 15px;
margin-left: 285px;
margin-top: 20px;
}
.profile-name-id{
  color: #888;
  font-size: 14px;
  margin-right: 35px;
  font-weight: 500;
}
.edit-profile-link{
  position: absolute;
  right: 0;
  font-size: 16px;
}

/* education timeline*/
.year-top-arrow{
  background-image: url(../images/year-top.png);
  height: 138px;
  background-repeat: no-repeat;
  width: 35px;
  margin-left: 72px;
}
.year{
  background-color: #77b56f;
color: #ffff;
text-align: center;
border-radius: 50%;
padding: 18px 4px;
width: 70px;
height: 70px;
font-size: 18px;
margin-left: 52px;
border: 2px solid #7cb471;
}
.box-y{
background-color: #a9b5a7;
border: 1px solid #ddd;
font-size: 21px;
padding: 11px;
color: #000;
border-radius: 45px;
font-weight: 600;
}
.exp-details-box{

   
    padding-left: 20px;
    position: relative;
}
.exp-round{
  border: 3px solid #e3dfdf;
    height: 18px;
    width: 18px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #228d1b;
    position: absolute;
    left: 12px;
    margin-top: 15px;
}
.exp-line{
  border-left: 3px solid #ddd;
    padding-left: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}
.vnr-exp-box{
  position: relative;
}
.vnr-exp-box span{
  position: absolute;
  top: 19px;
  left: 29px;
  font-size: 17px;
  color: #fff;
}
body .table-pad td, body .table-pad th{
  padding: 7px;
}
b{
  font-weight: 600;
}

/*********** Team Attendance sheet***************/
.table .thead-dark th{
  background-color:#264e58;
}
.sun{
  background-color: #4ccf09;
border-radius: 50%;
padding: 4px 10px;
height: 30px;
width: 30px;
}
.atnd{
background-color: #cf0909;
border-radius: 50%;
padding: 6px 10px;
height: 30px;
width: 30px;
color: #fff;
}
.haf-day1{
background-color: #cf0909;
border-radius: 15px 0px 0px 15px;
padding: 6px 5px;
height: 30px;
width: 30px;
color: #fff;
}

.haf-day2{
background-color: #cf0909;
border-radius: 0px 15px 15px 0px;
padding: 6px 5px;
height: 30px;
width: 30px;
color: #fff;
}

.table-c{
text-align: center;
}


.emp-name{
  width: 150px;
overflow: hidden;
text-align: left;
}
.name-circle{
  font-size: 16px;
font-weight: 600;
border-radius: 50%;
background-color: #ddd;
padding: 5px 10px;
margin-right: 12px;
}
/************end**************/

/******************weekly-attendance-chart********************/
.week-day{float: left;width: 100%;}
.w-day{float:left;width: 10%;font-weight: 600;font-size: 12px;}
.d-day{float:left;width: 10%;font-size:11px;font-weight: 600;padding-left: 8px;line-height: 17px;}
.working-time-o{height:50px;background-color: #DDE0DE;float:left;width: 80%;}

.over-time-come{float:left;width: 10%;position: relative;}
.over-time-t{position: absolute;top:-19px;font-size: 10px;font-weight: 600;right: 0;}
.overtime-box{background-color: #2D9337;float: right;height: 50px;width: 20px;}
.real-working-time{float:left;width: 80%;background-color: #82C088;height: 50px;position: relative;}
.extra-time-box{float:left;width: 10%;position: relative;}
.extra-time-s{background-color: #2D9337;float: left;height: 50px;width: 40px;}
.extra-time-t{position: absolute;top:-19px;font-size: 10px;font-weight: 600;left: 0;}

.over-time-late-l{position: absolute;top:-19px;font-size: 10px;font-weight: 600;left: 0;}
.overtime-box-late-l{background-color: #ef0e0e;float: left;height: 50px;width: 20px;}
.over-time-late-r{position: absolute;top:-19px;font-size: 10px;font-weight: 600;right: 0;}
.overtime-box-late-r{background-color: #ef0e0e;float: right;height: 50px;width: 20px;}
.left-late{float: left;}
.center-cont{float: left;}
.right-late{float: right;}
.extra-time{color:#10bb0e;margin-left: 3px;}
.delay-time{color:#ef0e0e;margin-left: 3px;}

.real-working-off{float:left;width: 80%;background-color: #5B735E;height: 50px;position: relative;}
.real-working-leave{float:left;width: 80%;background-color: #41BDD9;height: 50px;position: relative;}

.extra-h-box{border-top: 1px solid #ddd;float: left;width: 100%; margin-top: 15px;padding-top: 25px;}

.overtime-box-late-cl{background-color: #41BDD9;float: left;height: 50px;width: 20px;text-align: center;color: #fff;padding-top:10px;}

/**************************************/

/*** all celebration page***/
.vnr-anny{
	position:relative;
	text-align:center;
}
.vnr-anny img{ 
width: 80px;
    height: auto;
    object-fit: inherit;
    background-color: transparent;margin-bottom:0px;margin-right:0px;
}
.vnr-anny span{
	    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    color: #ffff;
    margin: 0 auto;
}
/**********/
/*******salary******/
.payslip-logo{    width: 120px;
    border-right: 3px solid #f7a40c;
    padding-right: 20px;
	margin-right:30px;}
.payslip-top-section{
	    float: left;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #f1ebeb;
    padding-bottom: 15px;
}
.payslip-table tr td{
	padding:8px;
}
.payslip-leave-table tr td{
	padding:5px;
}
.web-icon-section{
	    float: left;
    margin-top: 3px;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    font-size: 26px;
	color:#7a9ba5;
}
.web-url-section{
	position:absolute;
}
.t-present{background-color:#0d9137;}
.t-present-b{border: 3px solid #0d9137;}
.t-absent{background-color: #f00d;}
.t-absent-b{border: 3px solid #f00d;}
.vnr-cele-number{position:absolute;left:0;right:0;top:13px;color:#fff;}
.ad-footer-btm p{font-size:11px;}
.footer-logo-link{color:#8b8383;font-size:13px;}
.footer-logo-link img{width:40px;height:40px;}

.carousel-control-next, .carousel-control-prev{
	width:10%;
}
.carousel-item .btn{font-size:10px;}
.carousel-item p{font-size:10px;}
.table-p span{font-size:11px;}
.menu-text, .menu-text-c{font-size:10px;}

.profile-card {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture img {
   width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 10px solid #f8f8f8;
    position: absolute;
    top: -15px;
    left: -14px;
}

.profile-info {
    margin-left: 30%;
}

.profile-info h2 {
    margin: 0;
    font-size: 18px;
	color:#258b45;
}

.profile-details p{margin-bottom:15px;}
.int-tab-peragraph{    padding: 15px 15px 10px;}
.mfh-machine-profile .nav-tabs .nav-link{padding:10px 15px 10px;}
.card {box-shadow: 0px 12px 23px 0px rgba(62, 73, 84, 0.08);}
.profile-details p span{    color: #707070;
    font-weight: normal;}
	.fest-leave{border: 1px solid #ddd;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
	width:100%;
	float:left;}
.teken-leave{width: 10px;
    float: left;
    height: 10px;
    background-color: #659093;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 3px;}
.upcoming-leave{width: 10px;
    float: left;
    height: 10px;
    background-color: #efd7d6;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 3px;}
.availabel-leave{width: 10px;
    float: left;
    height: 10px;
    background-color: #a9cbcd;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 3px;}
.table>thead{
	background-color: #cfdce1;
}

.sidebar-wrapper{
	background-color: #a5cccd;
}
body.mini-sidebar .sidebar-wrapper a .icon-menu{
	color:#2c2a2a;
}
.side-menu-wrap ul li.active>a{
	    background-color: #8cb2b5;
		    border-bottom: 1px solid #698993;
    border-top: 1px solid #698993;
}
.side-menu-wrap ul li.active>a:before {
    background: #4f7d8b;
}
.current-opening{border:1px solid #ddd;}
.current-opening p{border-bottom:1px solid #ddd;color:#7e7878;}
.current-opening i{color:#5c8489;}
.tab-content .card{border-radius:0px;}
.mfh-machine-profile .nav-tabs .nav-link.active{    border-radius: 10px 10px 0px 0px;}
.leave-bal p,.leave-bal b{font-size:11px;}



.mfh-machine-profile .nav-tabs .nav-link{font-size:11px;}
.ad-title{font-size:12px;}
.side-menu-wrap ul li>a{padding:4px 10px 5px;}
.icon-menu svg{    height: 16px;    width: 16px;}
.logo-wrapper{height:60px;}
.ad-footer-btm{padding:5px;}